<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <settings>

      <!-- 
        Comma-separated list of JavaScript keycodes that are allowed to be used 
        while the maximum number of characters has been reached.
      -->
      <setting name="ParTech.LimitedTextFields.AllowedKeyCodes" value="8,9,13,16,17,18,20,27,46,32,35,36,37,38,39,40" />
      
    </settings>
        
    <fieldTypes>
      <fieldType name="Multi-Line Text Limited" type="Sitecore.Data.Fields.TextField, Sitecore.Kernel" resizable="true" />
      <fieldType name="Single-Line Text Limited" type="Sitecore.Data.Fields.TextField, Sitecore.Kernel" />
    </fieldTypes>

  </sitecore>
</configuration>