<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <fieldTypes>
      <fieldType name="Multi-Line Text Limited" type="Sitecore.Data.Fields.TextField, Sitecore.Kernel" resizable="true" />
      <fieldType name="Single-Line Text Limited" type="Sitecore.Data.Fields.TextField, Sitecore.Kernel" />
    </fieldTypes>

  </sitecore>
</configuration>